{
  "presets": [
    "env", "react"
  ],
  "plugins": [["react-native-web", { "commonjs": true }], "transform-class-properties",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "^react-native$": "react-native-web"
        }
      }
    ]
  ]
}
